h1 {
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: inherit;
}

p {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.75;
}